/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Imposta l'altezza minima del corpo al 100% della viewport height */
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.user-banner img {
    height: 50px;
    border-radius: 50%;
}

main {
    flex: 1; /* Il contenuto principale espande per riempire lo spazio rimanente */
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.new-post {
    margin-top: 20px;
}

.new-post h2 {
    margin-bottom: 10px;
}

.new-post input[type="text"],
.new-post textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.new-post textarea {
    height: 100px;
}

.new-post button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.posts .post {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.posts .post .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.posts .post .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.posts .post .post-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.posts .post .post-content p {
    margin-bottom: 10px;
}

.posts .post .post-content .comment-button {
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
}





/* ////////////////// */

#div_medio{ text-align: center; padding: 40px; margin-top: 25px;
}

#colori{ /*display: inline-block; padding: 5px; /*height: 200px;*/ text-align: center;
}

.cc{ display: inline-block; padding: 2%; margin: 2%; 
}

#c_1{ background-color: #F5C63C;
}

#c_2{ background-color: #F47F6B;
}

#c_3{ background-color: #BB5098;
}

#c_4{ background-color: #7A5197;
}